/* Our Story Styles */
.ourStory__wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.ourStory__title{
    color: var(--black-1);
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.ourStory__subtitle{
    font-family: Raleway;
    font-weight: 600;
    color: var(--black-1);
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.ourStory__text{
    font-size: 1.4rem;
    font-family: Raleway;
    color: var(--black-2);
}
@media only screen and (min-width: 768px){
    .ourStory__wrapper{
        flex-direction: row;
        gap: 3rem;
    }   
    .ourStory__info,
    .ourStory__img{
        flex: 1;
    }   
    .ourStory__title{
        font-size: 3.6rem;
    }
    .ourStory__subtitle{
        font-size: 1.8rem;
    }
    .ourStory__text,
    .ourGoals__info__text{
        font-size: 1.8rem;
        max-width: 800px;
    }
}
/* Our Goals Styles */

.ourGoals__info{
    text-align: left;
    margin-bottom: 5rem;
}
.ourGoals__img__wrapper img{
    object-fit: cover;
}

.ourGoals__img__wrapper{
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
}
.ourGoals__img1{
    grid-row: 1/3;
}
.ourGoals__info__title{
    font-size: 1.8rem;
    color: var(--black-1);
    margin-bottom: 1rem;
}
.ourGoals__info__text{
    font-size: 1.4em;
    font-family: Raleway;
    color: var(--black-2);
}


@media only screen and (min-width: 768px){
    .ourGoals__info{
        text-align: center;
    }
    .ourGoals__img__wrapper{
        gap: 2rem;
        margin: 0 200px;
    }
    .ourGoals__info__title{
        font-size: 3.6rem;
        font-size: 2.4rem;
    }
    .ourGoals__info__text{
        margin: 0 auto;
        font-size: 1.8rem;
        max-width: 800px;
    }
    
}